
<ul>
    {% for file in files %}
        <li> <a href="{{ file.webUrl }}" target="blank">{{ file.title }}</a> </li>
    {% else %}
        <li>Aucun fichier a afficher</li>
    {% endfor %}
</ul>
